<div class= "footer">
<div class="info">
    <h3>Sobre Microlab</h3>
    <p id="pie">Hace 25 años que nos dedicamos al
        <br>diagnóstico clínico y microbiológico<br>esforzandonos cada día
        para brindar <br>atención de excelencia a los
        pacientes <br>a traves de la confiabilidad y la inovación <br>permanentes.
    </p>
</div>
<div class="info">
    <h3>Horarios de Atencion</h3>
    <p id="pie">
        Lunes a Viernes de 7:30 hs a 12 hs./<br>
        16:00 hs a 18:00 hs <br>
        Sábados de 9:00 hs a 11:00 hs.</p>
</div>
<div class="info">
    <h3>Contactenos</h3>
    <p id="pie">Italia 1234
        341 (222222)<br>
        341(4259696)</p>
</div>
  <div class="info">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3348.347126415858!2d-60.6406199097717!3d-32.94184352275905!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95b7ab3ef35ab513%3A0xc648abd80dc35ee8!2sItalia%20600!5e0!3m2!1ses-419!2sar!4v1636860021216!5m2!1ses-419!2sar" width="250" height="250" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
  </div>
</div>