<section class="form-login">
    <h5>Formulario Login</h5>
    <input class="controls" type="text" name="usuario" value="" placeholder="Usuario">
    <input class="controls" type="password" name="contrasena" value="" placeholder="Contraseña">
    <input class="buttons" type="submit" name="" value="Ingresar">
    <p><a href="#">¿Olvidastes tu Contraseña?</a></p>
    

  </section>

  <div class="d-grid gap-2 d-md-3 mr-3 justify-content-md-end">
    <button [routerLink]="['/']" (click)="navigate()" class="btn btn-primary mb-3">
      Anterior
    </button>