
<article class="services-container">
<section *ngFor="let service of services; let i= index"
class="services-service">
<div class="card" style="width: 100%;">
  <img src= "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSRE0ccgf7tj-CLek3-CM2bcWnjs4uEFhMg5g&usqp=CAU">
      <div class="card-body">
        <h5 class="card-title">{{service.nombre | uppercase}}</h5>
        <p class="card-text">{{service.descripcion}}</p>
        

        <button [routerLink]="['/indicaciones', i]" (click)="navigate()" class="btn btn-primary">Detalles</button>
      </div>
    </div>
</section>

</article> 




