
    <div class="row">
        <form>
    
            <div class="mb-3">
                <h4><strong>NUEVA OBRA SOCIAL</strong></h4>
            </div>
    
            <div class="mb-3">
                <strong><label for="exampleFormControlInput1" class="form-label">Nombre</label></strong>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Ingresar nombre de la obra social... ">
              </div>
    
              <div class="mb-3">
                <strong><label for="exampleFormControlTextarea1" class="form-label">Descripción</label></strong>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"placeholder="Ingresar descripción de la obra social... "></textarea>
              </div>        
          
            <div class="mb-3">
              <input type="file" class="form-control" aria-label="file example" required>
              <div class="invalid-feedback">Example invalid form file feedback</div>
            </div>
          
            <div class="mb-3">
              <button class="btn btn-primary me-3" type="submit">Guargar</button>
              <button class="btn btn-primary" type="submit">Cancelar</button>
            </div>
    
          </form>
    
    </div>
